.banner {
	font-weight: bold;
	margin-bottom: 20px;
}

.centered {
	width: 50%;
	margin: 0 auto;
}

.centered.container {
	min-width: 550px;
}

.main-area.centered {
	min-width: 500px;
}

.text-centered {
	text-align: center;
}

.item-entry {
	font-size: 1.5em;
	margin-bottom: 30px;
}

.item-entry input[type=text] {
	width: 80%;
}

.item-entry input[type=submit] {
	width: 15%;
	min-width: 60px;
}